main{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    
    
}

.selectorOrdenamiento{
    font-size: 25px;
    padding: 0.5rem 1rem 0.5rem 2rem;
    
}

.selectorFiltrado{
    font-size: 25px;
    padding: 0.5rem 1rem 0.5rem 2rem;
}
.encabezado{
    
    background-color:red;
    display: flex;
    flex-direction: row;
     
}

.encabezadoIzquierda{
 width: 35%;
 display: flex;
}

.encabezadoDerecha{
    display: flex;
    width: 65%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.abajo{
     display: flex;
     justify-content: center;
     flex-direction: row;
     width: 100vw;
    margin-top: 5%;
}

.personajes {
    width: 70%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(50, 54, 56, 0.7);
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    
    
}
 
.caracteristica {
    
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    height: 300px;
    width: 250px;
    border-radius: 5px;
    border-color: #33961f;
    margin-top: 50px;
   
    
}

/*body{
    background-image:url(imgpokemon/imagenfondopokecards.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color:rgba(178,209,229,0.7);
    margin: 300px;
    padding: 2% 0;
   
}
*/
 body{
    margin: 0;
    padding: 0;
    background-color: rgb(16, 89, 226);
  
    
}


/*.personajes{

    background-color: rgba(50, 54, 56, 0.7);;
    margin: 50px 50px;
    
    
}
